 <ion-content>
   <div class="limit-size">
     <app-table></app-table>
   
     <div class="selectors-container">
       <div>
         <ion-input type="text" placeholder="Nombre" class="box"></ion-input>
       </div>
       <div></div>
       <div class="box btn" (click)="selectRecipeTime()">
         <span>Horario de Receta</span>
         <ion-icon name="chevron-forward-outline"></ion-icon>
       </div>
       <div class="box btn">
         <span>Tipo de Receta</span>
         <ion-icon name="chevron-forward-outline"></ion-icon>      
       </div>
     </div>
     <div class="start-btn-wrapper">
       <ion-button (click)="start()">
         Comenzar
       </ion-button>
     </div>
   </div>
</ion-content>
