 <ion-content>
   <div class="limit-size">
     <app-table></app-table>
   
     <div class="selectors-container">
       <div>
         <ion-input type="text" placeholder="Nombre" class="box" [(ngModel)]="recipe.title" name="title"></ion-input>
       </div>
       <div></div>
       <div class="box btn" (click)="selectRecipeTime()">
         <span>{{recipe.time | default:'recipeTime' | translate}}</span>
         <ion-icon name="chevron-forward-outline"></ion-icon>
       </div>
       <div class="box btn" (click)="selectRecipeType()">
         <span>{{recipe.type | default:'recipeType' | translate}}</span>
         <ion-icon name="chevron-forward-outline"></ion-icon>      
       </div>
     </div>
     <div class="start-btn-wrapper">
       <ion-button (click)="start()">
         Comenzar
       </ion-button>
     </div>
   </div>
</ion-content>
