 <ion-content>
  <app-table></app-table>

  <div class="selectors-container">
    <div>
      <ion-input type="text" placeholder="Nombre" class="box"></ion-input>
    </div>
    <div></div>
    <div class="box btn">
      <span>Cena 18:00-24:00</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="box btn">
      <span>Plato Principal</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>      
    </div>
  </div>
  <div class="start-btn-wrapper">
    <ion-button (click)="start()">
      Comenzar
    </ion-button>
  </div>
</ion-content>
