/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// FONTS
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@font-face {
    font-family: 'muli';
    src: url(assets/fonts/Muli.ttf) format("opentype");
}
/////

ion-title {
    font-family: 'muli';
}

ion-content {
    --background: #E2E8EA;
}

P {
    font-family: 'Noto Sans', sans-serif;
}

.limit-size{
    max-width: 500px;
    margin: auto;
}

.box {
    background: #F8FDFF;
    border-radius: 12px;
    padding: 0 15px;
    --padding: 0 15px;
    min-height: 47px;
    &.btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
div, span{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #3F3F37;

    &.title{
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }
}

ion-button {
    --box-shadow:none;
    --color: #F8FDFF;
    --border-radius: 12px;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    width: 166px;
    height: 47px;
}

// .middle{
//     display: grid;
//     place-items: center;
//     align-content: center;
//     height: 100%;
// }

// .flex{
//     display: flex;
//     &.center{
//         align-items: center;
//     }
// }

// .center{
//     text-align: center;
// }

// .full {
//     width: 100%;
// }
// .half {
//     width: 50%;
// }

a, .click, .btn{
    cursor: pointer;
}

ion-toast{
    --border-radius: 10px;
    text-align: center;
    font-size: 15px;
        
    &.simple{
        --background: rgba(68, 68, 68, 0.9);	
    }
    &.error{
        --background: rgba(174, 49, 0, 0.9);
    }
}
